# This is your MongoDB database connection string.
MONGODB_URI=
DB_NAME=
# NextAuth providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
ORGANIZATION_ID=
# Generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

# You don't need to define this variable in prod (only for localhost)
NEXTAUTH_URL=http://localhost:3000/api/auth